# MUXCORE_MODULE_ID=media-custom-formats
# MUXCORE_INSECURE_DISABLE_TLS=true
# FORMATS_DB_PATH=/var/lib/media-custom-formats/formats.db
# FORMATS_GRPC_ADDR=:9490
# FORMATS_SEED_DEFAULTS=true
# FORMATS_TRASH_SYNC=true
# FORMATS_TRASH_GUIDES_PATH=
# FORMATS_TRASH_GUIDES_URL=https://github.com/TRaSH-Guides/Guides/archive/refs/heads/master.tar.gz
# FORMATS_TRASH_CACHE_DIR=/var/lib/media-custom-formats/trash-guides
# FORMATS_TRASH_SCORE_SET=default
# FORMATS_TRASH_IMPORT_PROFILES=true
# FORMATS_TRASH_SERVICES=radarr,sonarr
# FORMATS_TRASH_INTERVAL=168
